@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body,
    #root {
        height: 100%;
    }

    body {
        background-color: #1a1a1a;
        background-image: url('/background-gym.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}